@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 200 40% 33%;

    --card: 40 33% 98%;
    --card-foreground: 200 40% 33%;

    --popover: 40 33% 98%;
    --popover-foreground: 200 40% 33%;

    --primary: 200 40% 33%;
    --primary-foreground: 40 33% 98%;

    --secondary: 210 33% 48%;
    --secondary-foreground: 40 33% 98%;

    --muted: 210 33% 96%;
    --muted-foreground: 200 40% 60%;

    --accent: 200 65% 73%;
    --accent-foreground: 200 40% 33%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 33% 98%;

    --border: 200 40% 85%;
    --input: 200 40% 85%;
    --ring: 200 40% 33%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 40% 10%;
    --foreground: 40 33% 98%;

    --card: 200 40% 13%;
    --card-foreground: 40 33% 98%;

    --popover: 200 40% 13%;
    --popover-foreground: 40 33% 98%;

    --primary: 200 40% 33%;
    --primary-foreground: 40 33% 98%;

    --secondary: 210 33% 48%;
    --secondary-foreground: 40 33% 98%;

    --muted: 200 40% 20%;
    --muted-foreground: 200 40% 70%;

    --accent: 200 65% 30%;
    --accent-foreground: 40 33% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 33% 98%;

    --border: 200 40% 25%;
    --input: 200 40% 25%;
    --ring: 200 65% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
